<select name="DepartmentSelectionCombobox"
        class="form-control"
        ng-options="department.id as department.displayName for department in departments"
        ng-model="selectedDepartment"
        ui-jq="selectpicker"
        ui-options='{ iconBase: "famfamfam-flag", tickIcon: "fa fa-check" }'
        data-none-selected-text="{{emptyText}}">
    <option value=""></option>
</select>