<div ng-controller="main.views.dictionaries.diseases.index as vm">
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>病症</span>
                </h3>
                <span class="m-section__sub">
                    管理科室下的各种疾病.
                </span>
            </div>
            <button class="btn btn-primary blue" style="" ng-if="vm.permissions.create"  ng-click="vm.createDisease()"><i class="fa fa-plus"></i> 添加病症</button>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet">
            <div class="m-portlet__body">
                <form class="horizontal-form">
                    <div class="form-body" enter-key="vm.getDepartments()">
                        <div class="row margin-bottom-10">
                            <div class="col-md-5">
                                <div class="form-group m-form__group">
                                    <div class="input-group">
                                        <input ng-model="vm.requestParams.keyword" auto-focus class="form-control" placeholder="关键字搜索..." type="text">
                                        <div class="input-group-append">
                                            <button ng-click="vm.getDepartments()" class="btn btn-secondary" type="submit"><i class="icon-magnifier"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <department-combo selected-department="vm.requestParams.department" empty-text="按科室搜索..."></department-combo>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <button ng-click="vm.getDepartments()" class="btn btn-primary blue"><i class="fa fa-refresh"></i> 刷新</button>
                            </div>
                        </div>
                    </div>
                </form>
                <div busy-if="vm.loading">
                    <div ui-grid="vm.diseaseGridOptions" ui-grid-pagination ui-grid-resize-columns ui-grid-auto-resize ng-style="vm.getTableHeight()"></div>
                </div>
            </div>
        </div>
    </div>
</div>