@using TcmHMS.Authorization.Roles
<div>
    <form name="roleCreateOrEditForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h4 class="modal-title">
                <span ng-if="vm.role.id">修改角色: {{vm.role.displayName}}</span>
                <span ng-if="!vm.role.id">添加角色</span>
            </h4>
            <button ng-click="vm.cancel()" aria-label="Close" class="close" type="button">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        <div class="modal-body">
            <uib-tabset class="tab-container tabbable-line">
                <uib-tab heading="角色名称">
                    <div class="form-group">
                        <label>
                            角色名称*
                        </label>
                        <input type="text" class="form-control" name="RoleDisplayName" ng-class="{'edited':vm.role.displayName}" ng-model="vm.role.displayName" required maxlength="@Role.MaxDisplayNameLength">
                        <span class="errorSty" ng-hide="roleCreateOrEditForm.RoleDisplayName.$pristine || roleCreateOrEditForm.RoleDisplayName.$valid" ng-show="roleCreateOrEditForm.RoleDisplayName.$invalid">
                            <span ng-show="roleCreateOrEditForm.RoleDisplayName.$error.required">*请输入名称</span>
                        </span>
                    </div>
                    <div class="m-checkbox-list">
                        <label class="m-checkbox">
                            <input id="EditRole_IsDefault"ng-model="vm.role.isDefault" name="IsDefault" type="checkbox" class="ng-untouched ng-pristine ng-valid">
                            默认<span></span>
                        </label>
                        <span class="help-block">新用户将默认拥有此角色.</span>
                    </div>
                </uib-tab>
                <uib-tab heading="权限">
                    <permission-tree edit-data="vm.permissionEditData"></permission-tree>
                </uib-tab>
            </uib-tabset>
        </div>
        <div class="modal-footer">
            <button ng-disabled="vm.saving" type="button" class="btn btn-default" ng-click="vm.cancel()">取消</button>
            <button type="submit" button-busy="vm.saving" busy-text="保存中" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="roleCreateOrEditForm.$invalid"><i class="fa fa-save"></i> <span>保存</span></button>
        </div>
    </form>
</div>