.page-on-load {
    background: #fefefe;
}

    .page-on-load .m-page {
        display: none !important;
        transition: all 2s;
    }

.fade-in-up {
    -webkit-animation: fadeInUp .5s;
    animation: fadeInUp .5s;
}

.page-spinner-bar {
    position: fixed;
    z-index: 10051;
    width: 200px;
    top: 40%;
    left: 50%;
    margin-left: -110px;
    text-align: center;
}

.m-subheader {
    padding: 15px 15px 0 !important;
}

    .m-subheader .m-subheader__title.m-subheader__title--separator {
        border-right: 1px solid #e2e5ec;
    }

.m-content {
    padding: 15px !important;
}

.m-portlet .m-portlet__body {
    padding: 1.1rem !important;
}
