<div id="m_ver_menu" class="m-aside-menu  m-aside-menu--skin-dark m-aside-menu--submenu-skin-dark " data-menu-vertical="true" data-menu-scrollable="false" data-menu-dropdown-timeout="500">
    <ul class="m-menu__nav  m-menu__nav--dropdown-submenu-arrow">
        <!-- Menu Level 1 -->
        <li class="m-menu__item" ng-repeat="menuItem in vm.menu.items" ui-sref-active="m-menu__item--active" ng-class="{'start':$first}">
            <a ui-sref="{{menuItem.url}}" ng-if="!menuItem.items.length" class="m-menu__link ">
                <i class="{{menuItem.icon}}"></i>
                <span class="m-menu__link-title">
                    <span class="m-menu__link-wrap">
                        <span class="m-menu__link-text">
                            {{menuItem.displayName}}
                        </span>
                    </span>
                </span>
            </a>
            <a href="javascript:;" class="m-menu__link m-menu__toggle" ng-if="menuItem.items.length">
                <i class="{{menuItem.icon}}"></i>
                <span class="m-menu__link-text">{{menuItem.displayName}}</span>
                <i class="m-menu__ver-arrow la la-angle-right"></i>
            </a>
            <div class="m-menu__submenu">
                <span class="m-menu__arrow"></span>
                <ul class="m-menu__subnav" ng-if="menuItem.items.length">
                    <li class="m-menu__item" ng-repeat="childMenuItem in menuItem.items" ui-sref-active="m-menu__item--active" ng-class="{'start':$first}">
                        <a ui-sref="{{childMenuItem.url}}" ng-if="!childMenuItem.items.length" class="m-menu__link ">
                            <i class="{{childMenuItem.icon}}"></i>
                            <span class="m-menu__link-title">
                                <span class="m-menu__link-wrap">
                                    <span class="m-menu__link-text">
                                        {{childMenuItem.displayName}}
                                    </span>
                                </span>
                            </span>
                        </a>
                        <a href="javascript:;" class="m-menu__link m-menu__toggle" ng-if="childMenuItem.items.length">
                            <i class="{{childMenuItem.icon}}"></i>
                            <span class="m-menu__link-text">{{childMenuItem.displayName}}</span>
                            <i class="m-menu__ver-arrow la la-angle-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>
</div>