.ui-grid-header-viewport {
    background-color: #e6e6e6 !important;
}

.ui-grid-header-cell {
    background-color: #e6e6e6 !important;
    font-size: 14px;
    font-family: Poppins;
    font-weight: 700;
    line-height: 21px;
    vertical-align: middle;
    border-color: #c7c7c7;
    color: #373a3c;
    border: none;
}

.ui-grid-cell-contents {
    padding: 10px;
}

