<div class="m-subheader ">
    <div class="d-flex align-items-center">
        <div class="mr-auto">
            <h3 class="m-subheader__title m-subheader__title--separator">
                <span>工作台</span>
            </h3>
            <span class="m-section__sub">
                分析与报告
            </span>
        </div>
    </div>
</div>
<div class="m-content">

</div>