<div ng-controller="main.views.dictionaries.ranks.index as vm">
    <div class="m-subheader ">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="m-subheader__title m-subheader__title--separator">
                    <span>职称</span>
                </h3>
                <span class="m-section__sub">
                    管理医生职称.
                </span>
            </div>
            <button class="btn btn-primary blue" style="" ng-if="vm.permissions.create"  ng-click="vm.createRank()"><i class="fa fa-plus"></i> 添加职称</button>
        </div>
    </div>
    <div class="m-content">
        <div class="m-portlet">
            <div class="m-portlet__body">
                <div busy-if="vm.loading">
                    <div class="m-datatable m-datatable--default m-datatable--brand m-datatable--loaded">
                        <table class="m-datatable__table" width="100%">
                            <thead class="m-datatable__head">
                                <tr class="m-datatable__row">
                                    <th width="25%" class="m-datatable__cell">
                                        名称
                                    </th>
                                    <th width="25%" class="m-datatable__cell">
                                        拼音
                                    </th>
                                    <th width="25%" class="m-datatable__cell">
                                        创建日期
                                    </th>
                                    <th ng-if="vm.permissions.edit || vm.permissions.delete" width="25%" class="m-datatable__cell">
                                        操作
                                    </th>
                                </tr>
                            </thead>
                            <tbody ui-sortable="sortableOptions" ng-model="data" class="m-datatable__body">
                                <tr ng-class="$index/2!=0?'datatable__row m-datatable__row--even':'datatable__row'" ng-repeat="item in data" class="m-datatable__row">
                                    <td width="25%" class="m-datatable__cell">
                                        {{item.displayName}}
                                    </td>
                                    <td width="25%" class="m-datatable__cell">
                                        {{item.pinyin}}
                                    </td>
                                    <td width="25%" class="m-datatable__cell">
                                        {{item.creationTime|momentFormat: 'YYYY/MM/DD'}}
                                    </td>
                                    <td width="25%" class="m-datatable__cell">
                                        <div class="ui-grid-cell-contents">
                                            <div class="btn-group dropdown" uib-dropdown="" dropdown-append-to-body>
                                                <button class="btn btn-xs btn-primary blue" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i>操作</button>
                                                <ul uib-dropdown-menu>
                                                    <li><a href="javascript:;" ng-if="vm.permissions.edit"  ng-click="vm.editRank(item)">修改</a></li>
                                                    <li><a href="javascript:;" ng-if="vm.permissions.delete"  ng-click="vm.deleteRank(item)">删除</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <p style="margin-top:20px;">
                        * 拖拽可以排序
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
