<div class="ui-grid-pager-panel"
     ui-grid-pager
     ng-show="grid.options.enablePaginationControls">
    <span class="total-records-count">
        总行数: {{grid.options.totalItems}}
    </span>
    <div class="ui-grid-pager-row-count-picker"
         ng-if="grid.options.paginationPageSizes.length > 1 && !grid.options.useCustomPagination">
        <select ui-grid-one-bind-aria-labelledby-grid="'items-per-page-label'"
                ng-model="grid.options.paginationPageSize"
                ng-options="o as o for o in grid.options.paginationPageSizes"></select>
    </div>
    <div class="ui-paginator">
        <ul class="m-datatable__pager-nav">
            <li>
                <a ng-click="pageFirstPageClick()"
                   ng-disabled="cantPageBackward()" ng-class="!cantPageBackward() ? 'm-datatable__pager-link m-datatable__pager-link--first' : 'm-datatable__pager-link m-datatable__pager-link--first m-datatable__pager-link--disabled'">
                    <i class="la la-angle-double-left"></i>
                </a>
            </li>
            <li>
                <a ng-click="pagePreviousPageClick()"
                   ng-disabled="cantPageBackward()" ng-class="!cantPageBackward() ? 'm-datatable__pager-link m-datatable__pager-link--prev ' : 'm-datatable__pager-link m-datatable__pager-link--prev m-datatable__pager-link--disabled'">
                    <i class="la la-angle-left"></i>
                </a>
            </li>
        </ul>
        <ul ng-repeat="i in paginationApi.getTotalPagesArr()" class="m-datatable__pager-nav">
            <li>
                <a ng-click="grid.options.paginationCurrentPage=i" ng-class="i==grid.options.paginationCurrentPage?'m-datatable__pager-link m-datatable__pager-link-number m-datatable__pager-link--active':'m-datatable__pager-link m-datatable__pager-link-number'">{{i}}</a>
            </li>
        </ul>
        <ul class="m-datatable__pager-nav">
            <li>
                <a ng-click="pageNextPageClick()"
                   ng-disabled="cantPageForward()" ng-class="!cantPageForward()?'m-datatable__pager-link m-datatable__pager-link--next':'m-datatable__pager-link m-datatable__pager-link--next m-datatable__pager-link--disabled'">
                    <i class="la la-angle-right"></i>
                </a>
            </li>
            <li>
                <a ng-click="pageLastPageClick()"
                   ng-disabled="cantPageToLast()" ng-class="!cantPageToLast()?'m-datatable__pager-link m-datatable__pager-link--last':'m-datatable__pager-link m-datatable__pager-link--last m-datatable__pager-link--disabled'">
                    <i class="la la-angle-double-right"></i>
                </a>
            </li>
        </ul>
    </div>
</div>
